html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: mintcream;
    font-family: Georgia, serif;
    font-size: 16px;
    margin: 0;
    padding: 16px;
}

img {
    width: 500px;
    height: auto;
}

